.deps/
INSTALL
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure~
depcomp
install-sh
libpcscv2part10-*.tar.bz2
missing
sample-PCSCv2part10.o
stamp-h1
unit_test-PCSCv2part10.o
